.about {
  padding-top: 50px;

  @include breakpoint(tablet) {
    padding-top: 100px;
  }

  @include breakpoint(largeScreen) {
    padding-top: 150px;
  }

  &__wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;

    @include breakpoint(largeScreen) {
      flex-direction: row;
      justify-content: space-between;
    }

    .about-info {
      width: 100%;
      margin-bottom: 100px;

      .about-title {
        color: #fff;
        font-weight: 600;
        line-height: 40px;
        letter-spacing: 0.01em;
        margin-bottom: 15px;

        @include breakpoint(tablet) {
          font-size: 3rem;
          line-height: 70px;
          max-width: 600px;
        }
      }

      .about-desc {
        color: #fff;
        opacity: 0.7;
        font-size: 1rem;
        margin-bottom: 25px;
        line-height: 31px;

        @include breakpoint(tablet) {
          max-width: 570px;
        }
      }

      .about-btn {
        background: linear-gradient(157.81deg, #DEF9FA -43.27%, #BEF3F5 -21.24%, #9DEDF0 12.19%, #7DE7EB 29.82%, #5CE1E6 51.94%, #33BBCF 90.29%);
        border-radius: 10px;
        border: none;
        padding: 15px 30px;
        width: 100%;
        outline: none;
        font-size: 1rem;
        font-weight: 500;

        @include breakpoint(tablet) {
          width: auto;
        }

        @include breakpoint(largeScreen) {
          cursor: pointer;
          transition: filter 0.2s ease;

          &:hover {
            filter: brightness(80%);
          }
        }
      }
    }

    .about-demo {
      display: flex;
      flex-direction: column;
      gap: 5px;

      @include breakpoint(largeScreen) {
        width: 100%;
        max-width: 480px;
      }

      .rewards, .secure, .balance {
        width: 100%;
        display: flex;
        align-items: flex-start;
        border-radius: 20px;
        padding: 20px;
        gap: 20px;
        max-width: 480px;
        
        @include breakpoint(tablet) {
          align-items: center;
        }

        @include breakpoint(largeScreen) {
          transition: background-image 0.2s ease;

          &:hover {
            background: linear-gradient(-3.53deg, rgba(255, 255, 255, 0) -31.94%, #14101D 47.11%);
          }
        }

        &__image {
          border-radius: 50%;
          background-color: rgba(9, 151, 124, 0.1);
          display: flex;
          align-items: center;
          justify-content: center;
          min-width: 64px;
          min-height: 64px;
        }

        &__info {

          .rewards-title, .secure-title, .balance-title {
            color: #fff;
            font-size: 1.5rem;
            font-weight: 600;
            margin-bottom: 10px;
          }

          .rewards-desc, .secure-desc, .balance-desc {
            color: #fff;
            font-size: 1rem;
            opacity: 0.7;
          }
        }
      }
    }
  }
}