* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: $poppins;
  scroll-behavior: smooth;
}

html,
body {
  overflow-x: hidden;
}

html {
  width: 100%;
  min-height: 100%;
  position: relative;
}

body {
  background-color: #00040F;
  width: 100%;
  height: 100%;
}

.wrapper {
  padding: 0 25px 0 25px;

  @include breakpoint(tablet) {
    padding: 0 60px 0 60px;
  }

  @include breakpoint(largeScreen) {
    padding: 0 120px 0 120px;
  }

  @include breakpoint(extraLargeScreen) {
    padding: 0;
    max-width: 1200px;
    margin: auto;
  }
}

.about-features-bg {
  background-image: url('../assets/about-features-bg.png');
  background-position: center left;
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

.testimonial-solution-bg {
  background-image: url('../assets/testimonial-solution-bg.png');
  background-position: center right;
  background-size: 100% 100%;
  background-repeat: no-repeat;
}